@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  /* border: 1px solid red; */
}

/* scroll lock on page */

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: aliceblue;
}

/* header and nav bar styles */

.header-container {
  width: 100%;
  background-color: dodgerblue;
  margin-bottom: 0;
}

.header {
  font-size: 700;
  text-align: center;
  color: #ffd301;
}

.header h1 {
  margin-bottom: 0;
}

.header:hover {
  cursor: default;
}

.nav-container {
  width: 100%;
  background-color: #ffd301;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

.nav {
  margin-left: auto;
  margin-right: auto;
  font-size: weight;
  margin-left: 10px;
  color: dodgerblue;
}

.nav-container p {
  margin: 0;
  padding: 0;
}

.nav a {
  text-align: center;
  margin-left: 10px !important;
  margin-bottom: 0;
  font-size: 30;
  text-decoration: none;
  color: dodgerblue;
  transition: ease 0.5s;
}

.nav a:visited {
  color: dodgerblue;
}

.nav a:hover {
  color: white;
  text-decoration: underline;
}

/* login styles */

#login-button {
  margin-bottom: 5px;
}

.login-container {
  max-width: 40% !important;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-height: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

#login-username {
  margin-bottom: 20px;
  padding-left: 3px;
}

.logged-in-container {
  max-width: 60% !important;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-height: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

#logged-in-username {
  margin-bottom: 20px;
}

#create-user-container {
  max-width: 40% !important;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-height: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

#create-name {
  margin-bottom: 5px;
  padding-left: 3px;
}

#create-username {
  margin-bottom: 10px;
  padding-left: 3px;
}

/* Rules and about styles */

.rules-container {
  background-color: white;
  max-width: 60% !important;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-height: 600px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  overflow-y: scroll;
}

.rules li {
  text-align: left;
}

.about-container {
  background-color: white;
  max-width: 60% !important;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-height: 600px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  overflow-y: scroll;
}

.other {
  color: dodgerblue;
}

/* Logged in styles */
#logged-in {
  display: none;
}

#logged-in-admin {
  display: none;
}

#manage-game-container {
  display: none;
}

/* List of games styles */

#list-of-games-container {
  display: none;
  background-color: white;
  max-width: 40% !important;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-height: 600px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.game-list-item {
  transition: ease 1s;
}

.game-list-item:hover {
  cursor: pointer;
  color: dodgerblue;
}

/* Join game styles */

#join-game-container {
  display: none;
  background-color: white;
  max-width: 40% !important;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-height: 600px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

/* Admin console styles */

.logged-in-container-admin {
  max-width: 70% !important;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-height: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  overflow-y: scroll;
}

.manage-game-item {
  text-align: left !important;
  font-size: large;
  margin-left: 5px;
  transition: ease 0.5s;
}

.manage-game-item:hover {
  cursor: pointer;
  color: dodgerblue;
}

#manage-game-container {
  max-width: 70% !important;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-height: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  overflow-y: scroll;
}

#manage-game-list-of-players > p {
  text-align: left !important;
  font-size: large;
  margin-left: 5px;
  transition: ease 0.5s;
}

#change-room-password {
  margin-bottom: 10px;
}

#manage-game-list-of-players > p:hover {
  cursor: pointer;
  color: dodgerblue;
}

#manage-user-container {
  display: none;
  max-width: 70% !important;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-height: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}
